*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.faq-section{
     width: 50%;
     background-color: blue;
     margin-inline: auto;
     margin-block: 100px;
     border-radius: 20px;
     text-align: center;
     color: white;
     flex-direction: column;
     gap: 20px;
     padding-block: 20px;
}
.flex{
     display: flex;
}
.units{
     background-color: white;
     margin-inline: 15px;
     color: black;
     padding-block: 10px;
     flex-direction: column;
     gap: 20px;
}
.main-heading{
     flex-direction: row;
     justify-content: space-between;
     padding-inline: 40px;
}
.button{
     margin: 5px;
     padding-inline: 6px;
     padding-block: 3px;
     border: 2px solid blue;
     border-radius: 5px;
     background-color: rgb(209, 209, 255);
}
.ans{
     padding-inline: 40px;
     text-align: left;
}